{
  "presets": [
    ["env", {"modules": false}],
    "react" // Transpile React components to JavaScript
  ],
  "plugins": [
    "react-hot-loader/babel", // Enables React code to work with HMR.
    [
      "module-resolver", {
      "root": ["./src"],
      "alias": {
        "client": "./src/client",
        "server": "./src/server",
        "tests": "./tests"
      }
    }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
